Django
transformers==4.52.2
accelerate==1.7.0
torch==2.6.0
faiss-cpu==1.11.0
langchain==0.3.25

langchain-chroma
langchain-community==0.3.24
langchain-core==0.3.63
langchain-openai==0.3.19
langchain-text-splitters==0.3.8
langchain-huggingface
openai==1.81.0
python-dotenv
tiktoken
pypdf
djangorestframework
PyPDF2
gunicorn
psycopg[binary]
djangorestframework_simplejwt
django-cors-headers
django-storages[azure]
azure-storage-blob

