Django
transformers
torch
faiss-cpu
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-huggingface
openai
python-dotenv
tiktoken
pypdf
djangorestframework
PyPDF2
gunicorn
psycopg[binary]
djangorestframework_simplejwt
django-cors-headers
django-storages[azure]
azure-storage-blob

